﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="UserManagmentPage" layoutRefId="MobilePanelLayout">
  <Assignments>
    <Assignment type="Content" baseContentRefId="TopPageContent" areaRefId="AreaTop" styleRefId="TopGrey" />
    <Assignment type="Content" baseContentRefId="UserManagmentPageContent" areaRefId="AreaMain" />
    <Assignment type="Content" baseContentRefId="BottomPageContent" areaRefId="AreaBottom" styleRefId="BottomGrey" backGround="" />
  </Assignments>
</pdef:Page>